@model PostViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Blog.cshtml";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/theme/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.Excerpt</h2>
                    <span class="meta">
                        on @Model.CreatedDateLocal.ToLongDateString()
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <textarea id="markdown-editor" class="col-lg-8 col-md-10 mx-auto">@Model.Content</textarea>
            <div id="markdown-content"></div>
        </div>
        <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
        </div>
    </div>
</article>

@section scripts{
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor") });
        var render = simplemde.value();
        var renderedHTML = simplemde.options.previewRender(render);
        document.getElementById('markdown-content').innerHTML = renderedHTML;
        simplemde.toTextArea();
        simplemde = null;
        document.getElementById("markdown-editor").remove();
    </script>
}